<!-- Jumbotron -->
<div class="finance-background overflow-hidden p-3 p-md-5 text-center bg-body-tertiary ">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold text-light">Finance Tracker</h1>
        <h3 class="fw-normal mb-3 text-light">Take control of your money, one step at a time</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a mat-flat-button routerLink="transactions" routerLinkActive>Get Started</a>
        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="container my-5">
    <!-- About the application -->
    <h2 class="display-6 text-primary">Track, Budget, and Save Like Never Before</h2>
    <p>
        Finance Tracker is your personal finance companion, designed to help you take charge of your money and build
        better financial habits. With our intuitive tools, you can:
    </p>
    <ul>
        <li><b>Create budgets</b> to plan for your goals and stay on track.</li>
        <li><b>Log and manage transactions</b> effortlessly, like a personal financial diary.</li>
        <li><b>Gain insights</b> into your spending patterns to uncover new ways to save.</li>
    </ul>
    <p>
        Our app empowers you to simplify your financial life and focus on what matters most—achieving financial freedom.
    </p>
    <hr>
    <!-- About the company -->
    <h2 class="display-6 text-primary">About Us</h2>
    <p>
        At Finance Tracker, we believe that financial literacy is the foundation of a secure and fulfilling life. That’s
        why we created an easy-to-use platform for everyone—from students to seasoned professionals—looking to better
        understand their money.<br><br>

        Founded by a team of financial enthusiasts and tech innovators, Finance Tracker is more than an app; it’s a tool
        to help you thrive. Our mission is to make financial tracking simple, accessible, and empowering for
        all.<br><br>

        Start your journey toward smarter spending and better savings today.
    </p>
</div>
<footer style="height: 4rem;" class="bg-body-tertiary">

</footer>