.container {
    margin: 1rem;
    padding: 0.4rem;
}

.flex-display {
    display: flex;
    height: 93%;
    justify-content: center;

    @if () {
        .col-fill {
            width: 100%;
        }
    }
}

ul.hidden-bullet-list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;

    li {
        text-align: start;
    }
}

.card {
    margin-bottom: 0.6rem;
}