<mat-drawer-container>
    <mat-drawer #drawer style="width: 28rem;" position="end">
        <div style="padding: 2rem;">
            <app-transaction-manipulation-form [existingTransaction]="selectedTransaction"></app-transaction-manipulation-form>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container-fluid">
            <h1>Home</h1>
            <div class="row">
                <div class="col-12 col-md-6">
                    charts
                </div>
                <div class="col-12 col-md-6">
                    <app-recent-transactions-list (transactionManipulationEvent)="UpdateSelectedTransaction($event); drawer.toggle()"></app-recent-transactions-list>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>