<mat-drawer-container class="h-100">
    <mat-drawer #drawer style="width: 28rem;" class="position-fixed h-100" position="end">
        <div style="padding: 2rem;">
            <app-transaction-manipulation-form [existingTransaction]="selectedTransaction" (manipulationSubmitted)="FetchTransaction()" (closeDrawer)="drawer.toggle()"></app-transaction-manipulation-form>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container">
            <h1>Home</h1>
            <div class="row" style="height: 100%;">
                <div class="col-12 col-lg-4">
                    <app-spending-over-month></app-spending-over-month>
                    <app-spending-category-breakdown></app-spending-category-breakdown>
                </div>
                <div class="col-12 col-lg-8">
                    <app-recent-transactions-list [transactions]="transactions" [totalDocs]="totalDocs" (transactionDeleteEvent)="DeleteTransaction($event)" (transactionManipulationEvent)="UpdateSelectedTransaction($event); drawer.toggle()" (pageTurnEvent)="PageTurnEvent($event)"></app-recent-transactions-list>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>