<mat-toolbar>
    <a href="/" mat-button><mat-icon>payments</mat-icon>Finance Tracker</a>

    <span class="spacer"></span>

    <a routerLink="" routerLinkActive  class="button-spacer-start" mat-button>Home</a>
    <a routerLink="transactions" routerLinkActive class="button-spacer-start" mat-button>Transactions</a>
    <a routerLink="budgets" routerLinkActive class="button-spacer-start"  mat-button>Budgets</a>

    <a routerLink="" (click)="SignOutUser()" routerLinkActive class="button-spacer-start" mat-flat-button>Log Out</a>
</mat-toolbar>