<mat-toolbar>
    <a href="/" mat-button><mat-icon>payments</mat-icon>Finance Tracker</a>

    <span class="spacer"></span>

    <a routerLink="/" routerLinkActive class="button-spacer-start" mat-button>Home</a>
    <a routerLink="/transactions" routerLinkActive [ngClass]="{'d-none': !isLoggedIn || isAdmin}" class="button-spacer-start" mat-button>Transactions</a>
    <a routerLink="/budgets" routerLinkActive [ngClass]="{'d-none': !isLoggedIn || isAdmin}" class="button-spacer-start" mat-button>Budgets</a>
    <a routerLink="/admin" routerLinkActive [ngClass]="{'d-none': !isAdmin}" class="button-spacer-start" mat-button>Admin</a>

    <a routerLink="/auth/login" routerLinkActive [ngClass]="{'d-none': isLoggedIn}" class="button-spacer-start"  mat-flat-button>Log In</a>
    <a routerLink="/auth/login" (click)="SignOutUser()" [ngClass]="{'d-none': !isLoggedIn}" routerLinkActive class="button-spacer-start" mat-flat-button>Log Out</a>
</mat-toolbar>