<mat-expansion-panel style="background-color: white;" class="mb-2">
    <mat-expansion-panel-header>
        <mat-panel-title>{{budget?.start_date | date:"dd MMM YY"}} - {{budget?.end_date | date:"dd MMM YY"}}</mat-panel-title>

    </mat-expansion-panel-header>
    <h3 class="fs-5">Total Spent: {{budgetTotal | currency:"EUR"}}</h3>
    <table mat-table [dataSource]="allocations" style="background-color: white;"> -->
        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let budget"> {{budget.category.name}} </td>
        </ng-container>

        <!-- Allocated amount Column -->
        <ng-container matColumnDef="allocated_amount">
            <th mat-header-cell *matHeaderCellDef> Allocated Amount </th>
            <td mat-cell *matCellDef="let budget"> {{budget.allocated_amount | currency:"EUR"}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button class="text-bg-danger" mat-button (click)="DeleteBudget(budget)">Delete</button>
</mat-expansion-panel>