<mat-card class="mb-3" style="background-color: white;">
    <mat-card-header>
        <mat-card-title>
            {{budget?.start_date | date: 'dd MMM YYYY'}} - {{budget?.end_date | date: 'dd MMM YYYY'}} 
        </mat-card-title>
        <mat-card-subtitle>
            Total: €{{budgetTotal}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <hr>
        <table>
            <tr>
                <th mat-sort-header="name">Category</th>
                <th mat-sort-header="calories">Allocation</th>
            </tr>

            @for (allocation of budget?.allocations; track allocation) {
            <tr>
                <td>{{allocation.category}}</td>
                <td>€{{allocation.allocated_amount}}</td>
            </tr>
            }
        </table>
        <hr>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="EditBudget(budget)">Edit</button>
        <button mat-button (click)="DeleteBudget(budget)">Delete</button>
    </mat-card-actions>
</mat-card>