<button type="button" mat-stroked-button class="position-fixed end-0 me-4" (click)="transactionForm.reset();closeDrawer.emit();"><mat-icon>close</mat-icon>Close</button>
<form [formGroup]="transactionForm" (submit)="onSubmit()">
    <h2>{{formTile}}</h2>
    <!-- Name field -->
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        @if (name?.hasError('required') ){
        <mat-error>Name is required </mat-error>
        }
        @else if (name?.hasError('minlength')) {
        <mat-error>Name must be at least 3 chars </mat-error>
        }
    </mat-form-field>
    <br>
    <!-- Date field -->
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (date?.hasError('required')) {
        <mat-error>Date is required </mat-error>
        }
    </mat-form-field>
    <br>
    <!-- Value field -->
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Value</mat-label>
        <span matTextPrefix>€ &nbsp;</span>
        <input matInput type="number" formControlName="price">
        @if (price?.hasError('required')) {
        <mat-error>Value is required </mat-error>
        }
        @else if (price?.hasError('min')) {
        <mat-error>Value must have a minimum value of €0</mat-error>
        }
    </mat-form-field>
    <br>
    <!-- Description field -->
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" style="max-height: 6rem;"></textarea>
        @if (description?.hasError('maxLength')) {
        <mat-error>Description has a maximum length of 150 chars</mat-error>
        }
    </mat-form-field>
    <br>
    <!-- Category field -->
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
            @for (category of catgories; track category;) {
            <mat-option [value]="category.name">{{category.name}}</mat-option>
            }
        </mat-select>
        @if (category?.hasError('required')) {
        <mat-error>Category is required </mat-error>
        }
    </mat-form-field>
    <!-- Submit form button -->
    <div style="text-align: center; width: 100%;">
        <button mat-flat-button>{{submitButtonText}}</button>
    </div>
</form>