<h2>Recent Transactions</h2>
<button mat-fab extended (click)="RecordNewTransaction()" class="mb-2"><mat-icon>edit</mat-icon>Record Transaction</button>
<ul class="hidden-bullet-list">
    @for (transaction of transactions; track $index; let i = $index;) {
    <li>
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{transaction.name}}</mat-card-title>
                <mat-card-subtitle>{{transaction.date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{transaction.description}}
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="EditTransaction(transaction)">Edit</button>
                <button mat-button (click)="DeleteTransaction(transaction)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </li>
    }
</ul>