<mat-card class="container py-3 text-bg-light">
    <h2 class="fs-4">Category Manager</h2>
    <mat-dialog-content>
        <div class="row">
            <div class="col-12 position-sticky top-0 z-3">
                <form [formGroup]="categoryForm" (submit)="onSubmit()" class="text-bg-light">
                    <mat-form-field appearance="outline" class="w-100 mb-2">
                        <mat-label>Category Name</mat-label>
                        <input formControlName="name" matInput placeholder="Enter category name" required>
                        @if (name?.hasError('required')) {
                        <mat-error>Category name is required </mat-error>
                        }
                    </mat-form-field>
                    <button mat-flat-button>Create Category</button>
                </form>
            </div>
            <div class="col-12">
                @if (categories.length > 0) {
                    <table class="table my-4" style="max-height: 80rem; overflow-y: auto; position: relative; z-index: 1;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cat of categories">
                                <td>{{cat.name}}</td>
                                <td><span class="badge p-1" [ngClass]="{
                                    'text-bg-danger': cat.status === 'Denied',
                                    'text-bg-success': cat.status === 'Approved',
                                    'text-bg-warning': cat.status !== 'Denied' && cat.status !== 'Approved'
                                }">{{cat.status}}</span></td>
                                <td>
                                    <button mat-mini-fab class="text-bg-danger mx-1" (click)="DeleteCategory(cat)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <!-- <button mat-mini-fab class="text-bg-warning mx-1">
                                        <mat-icon>edit</mat-icon>
                                    </button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                @else {
                <p>No categories found</p>
                }
            </div>
        </div>
    </mat-dialog-content>
    <button mat-button mat-dialog-close type="button">Close</button>
</mat-card>