<button type="button" mat-stroked-button class="position-fixed end-0 me-4" (click)="closeDrawer.emit()"><mat-icon>close</mat-icon>Close</button>
<form [formGroup]="budgetForm" (submit)="OnSubmit()">
    <h2>{{formTitle}}</h2>
    <h3>{{startDate | date:'dd MMM YY'}} - {{endDate | date:'dd MMM YY'}}</h3>
    <!-- Add allocation form group -->
    <div formArrayName="allocations">
        @for (allocation of allocations.controls; track allocation ; let i=$index;){
        <div [formGroupName]="i">
            <hr>
            <div class="row w-100">
                <div class="col-6">
                    <legend>Allocation {{i+1}}</legend>
                </div>
                <div class="col-6"></div>
            </div>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category" [value]="allocations.at(i).value.category">
                    @for (category of categories; track category;) {
                    <mat-option [value]="category">{{category.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Allocated Amount</mat-label>
                <span matTextPrefix>€ &nbsp;</span>
                <input  matInput id="amount-{{ i }}" type="number" formControlName="allocated_amount">
            </mat-form-field>
            <button mat-flat-button class="text-bg-danger" (click)="RemoveAllocation(i)" type="button"><mat-icon>delete</mat-icon>Remove</button>
        </div>
        }
    </div>
    <!-- Add allocation form group -->
    <div style="text-align: center" class="mb-2 w-100">
        <button mat-stroked-button (click)="AddAllocation()" type="button">Add Allocation</button>
    </div>
    <!-- Submit form button -->
    <div style="text-align: center; width: 100%;">
        <button mat-flat-button>{{submitButtonText}}</button>
    </div>
</form>