<button type="button" mat-stroked-button class="position-fixed end-0 me-4" (click)="closeDrawer.emit()"><mat-icon>close</mat-icon>Close</button>
<form [formGroup]="budgetForm" (submit)="OnSubmit()">
    <h2>{{formTitle}}</h2>
    <!-- Start date field -->
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="start_date_picker" formControlName="start_date">
        <mat-datepicker-toggle matIconSuffix [for]="start_date_picker"></mat-datepicker-toggle>
        <mat-datepicker #start_date_picker></mat-datepicker>
        @if (start_date?.hasError('required')) {
        <mat-error>Start date is required </mat-error>
        }
    </mat-form-field>
    <!-- End date field -->
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="end_date_picker" formControlName="end_date">
        <mat-datepicker-toggle matIconSuffix [for]="end_date_picker"></mat-datepicker-toggle>
        <mat-datepicker #end_date_picker></mat-datepicker>
        @if (end_date?.hasError('required')) {
        <mat-error>End date is required </mat-error>
        }
    </mat-form-field>
    <!-- Add allocation form group -->
    <div formArrayName="allocations">
        @for (allocation of allocations.controls; track allocation ; let i=$index;){
        <div [formGroupName]="i">
            <hr>
            <div class="row w-100">
                <div class="col-6">
                    <legend>Allocation {{i+1}}</legend>
                </div>
                <div class="col-6"></div>
            </div>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                    @for (category of categoryKeys; track category;) {
                    <mat-option [value]="category">{{category}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Allocated Amount</mat-label>
                <span matTextPrefix>€ &nbsp;</span>
                <input  matInput id="amount-{{ i }}" type="number" formControlName="allocated_amount">
            </mat-form-field>
            <button mat-flat-button class="text-bg-danger" (click)="RemoveAllocation(i)" type="button"><mat-icon>delete</mat-icon>Remove</button>
        </div>
        }
    </div>
    <!-- Add allocation form group -->
    <div style="text-align: center" class="mb-2 w-100">
        <button mat-stroked-button (click)="AddAllocation()" type="button">Add Allocation</button>
    </div>
    <!-- Submit form button -->
    <div style="text-align: center; width: 100%;">
        <button mat-flat-button>{{submitButtonText}}</button>
    </div>
</form>