<mat-card style="background-color: white;">
    <mat-card-content>
        <div class="container">
            <H2 class="fs-3">Current Budget ({{currentBudget?.start_date | date:"dd MMM YY"}} -
                {{currentBudget?.end_date | date:"dd MMM YY"}})</H2>
            <table mat-table [dataSource]="budgetAllocations">
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category Name </th>
                    <td mat-cell *matCellDef="let allocation"> {{allocation.category.name}} </td>
                </ng-container>

                <ng-container matColumnDef="allocatedSpending">
                    <th mat-header-cell *matHeaderCellDef> Allocated Spending </th>
                    <td mat-cell *matCellDef="let element"> {{element.allocatedSpending | currency}} </td>
                </ng-container>

                <ng-container matColumnDef="actualSpending">
                    <th mat-header-cell *matHeaderCellDef> Actual Spending </th>
                    <td mat-cell *matCellDef="let element"> {{element.actualSpending | currency}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['category', 'allocatedSpending', 'actualSpending']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['category', 'allocatedSpending', 'actualSpending'];"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>