<mat-card style="background-color: white;">
    <mat-card-content>
        <div class="container">
            <H2 class="fs-3">Current Budget ({{currentBudget?.start_date | date:"dd MMM YY"}} -
                {{currentBudget?.end_date | date:"dd MMM YY"}})</H2>
            <table mat-table [dataSource]="budgetAllocations" style="background-color: white;">
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category Name </th>
                    <td mat-cell *matCellDef="let allocation"> {{allocation.category.name}} </td>
                </ng-container>

                <ng-container matColumnDef="allocatedSpending">
                    <th mat-header-cell *matHeaderCellDef> Allocated Spending </th>
                    <td mat-cell *matCellDef="let allocation"> {{ allocation.allocated_amount | currency:"EUR"}} </td>
                </ng-container>

                <ng-container matColumnDef="actualSpending">
                    <th mat-header-cell *matHeaderCellDef> Actual Spending </th>
                    <td mat-cell *matCellDef="let allocation; let i = index">
                        <span>{{ actualSpendingPerCategory[i] | currency:"EUR" }} </span>
                        @if (actualSpendingPerCategory[i] > allocation.allocated_amount) {
                        <span class="text-danger end-0" title="Amount over budget">({{actualSpendingPerCategory[i] -
                            allocation.allocated_amount | currency:"EUR"}}<mat-icon>arrow_drop_up</mat-icon>)</span>
                        }
                        @else if (actualSpendingPerCategory[i] < allocation.allocated_amount) { 
                            <span
                            class="text-success end-0" title="Amount under budget">({{allocation.allocated_amount -
                            actualSpendingPerCategory[i] | currency:"EUR"}}<mat-icon>arrow_drop_down</mat-icon>)</span>
                            }
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['category', 'allocatedSpending', 'actualSpending']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['category', 'allocatedSpending', 'actualSpending'];"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>